.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: valc(100% - 50px);
    background-color: var(--surface-color);
}

.setting-panel {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-light-color);
}

.setting-panel>.resizer#top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background-color: var(--primary-dark-color);
}

.map-panel {
    flex-grow: 100;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.icon-panel {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    min-width: 200px;
    max-width: 300px;
    height: 100%;
    background-color: var(--secondary-color);
}

.icon-panel>.resizer#left {
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: var(--primary-dark-color);
}

.draw-panel {
    flex-grow: 100;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-light-color);
    overflow: hidden;
}

.draw-panel>canvas {
    cursor: crosshair;
}